<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>runserver</title>
</head>
<body>
<script>
    function check() {
        var password = document.getElementsByName('password')
        if (password.length < 1){
            alert('输入密码')
            return false
        }
        else{
            return true
        }
    }
</script>
<form action="/startserver/startserver/password/onlyme/" method="post">
    <input name="password" id="password" type="password">
    <input type="submit" value="验证密码">
</form>
<a>{{ massage }}</a>
</body>
</html>