<!DOCTYPE html>
<html lang="en">
<meta http-equiv="refresh" content="3;url=/login/">
<head>
    <meta charset="UTF-8">
    <title>密码修改成功</title>
    <link rel="stylesheet" href="/static/css/inputborder.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" >
</head>
<style>
div {
position: absolute;
left: 0%;
}
p {color:#41637C;}
input {color:#41637C;}
input, button, select, textarea {outline:none}
</style>
<script src="/static/js/realert.js"></script>
<link rel="stylesheet" href="/static/css/style.css">
<body>
<section class="fog">
	<figure class="absolute-bg" style="background-image: url('/static/img/home.jpg');"></figure>
	<div class="fog__container">
		<div class="fog__img fog__img--first"></div>
		<div class="fog__img fog__img--second"></div>
	</div>
</section>
<form action="/login/" method="get">
    {% csrf_token %}
    <div style="width:100%; height:80%;top:8%">
        <p style="text-align:center;font-size: 50px;color: rgba(90, 90, 90, 0.87);">
            Panda Weather
        </p>
        <br><br><br><br><br>
        <p style="opacity:0;"> .</p>
        <p style="opacity:0;"> 一</p>
        <p style="opacity:0;"> 一</p>
        <p style="text-align:center;color: #e7e8e8;font-size: 20px">
        找回密码成功！3秒后将跳转至登陆页面
        </p>
        <br><br>
        <p style="text-align:center">
        <input type="submit" value="立即跳转" style="cursor:pointer;padding:1px;font-size: 15px;width: 90px;height: 30px;background-color: rgba(231,232,232,0.3);color: #5a5a5a">
        </p>
    </div>
</form>
</body>
</html>